.menu {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid; /* 그리드 레이아웃 활성화 */
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나누기 */
    gap: 120px; /* 카드 사이의 간격 */
}

.box {
    margin-bottom: 30px;
    height: 150px;
    border: 4px solid rgb(217, 217, 217);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.text {
    padding-left: 80px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
}

.cp{
    color: #FF96A5;
}
.DIDA{
    color: #C89FFB;
}

.img {
    width: 130px;
    height: 130px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.section {
    margin-bottom: 200px;
}
.go_common{
    text-decoration: none;
}.minjae3{
    font-weight: bold;
    color: #008256;
}